.ant-tabs-nav {
  margin-left: 20px !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  background-color: #fff !important;
  border-color: #fff !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background-color: #e8e8e8 !important;
  border: none !important;
  // color: green !important;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #e8e8e8;
  padding: 16px;
  margin-left: 0 !important;
  padding-left: 40px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #e8e8e8;
  margin-bottom: 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: purple;
  background: purple;
}

.card-container {
  .tab-body {
    margin-top: 20px;
    background-color: #fff;
    padding: 25px;
  }
}
